<div class="login-page">
  <div class="login-box">
    <div class="login-logo" style="margin-bottom: 30px">
      <img src="../../images/ConsightLogo_TextUnder.svg" alt="Consight Logo" width="40%" style="opacity: .8">
    </div>
      <!-- left column -->
    <!-- general form elements -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
      <h3 class="profile-username text-center">Data Points</h3>
      
      <!-- /.card-header -->
      <!-- form start -->
        <div class="card-body">
          {{#unless data_points}}
            <p>No data</p>
          {{else}}
            {{#each data_points}}
                <p>ID: {{this.id}}</p>
                <p>Data: {{ toJSON this.data }}</p>
                <p>Inserted On: {{this.inserted_on}}</p>
                <a href="/data_point/{{../node_uuid}}/{{this.id}}/delete">Delete</a>
            {{/each}}
          {{/unless}}
          <form method="GET">
            <p>Page <input type="number" id="page-select" name="page-select" value="{{current_page}}"> of {{total_pages}}</p>
            </br><button type="submit" class="btn btn-block btn-primary">Go</button>
          </form>
      <a type="button" class="btn btn-block" href="../..">Back</a>
    </div>
    <!-- /.card -->
    </div>
  </div>
</div>
</div>