<h1>Nodes</h1>

<a href="/node">Register new node</a>

{{#each nodes}}
    <p>UUID: {{this.uuid}}</p>
    <p>Name: {{this.name}}</p>
    {{#if this.location}}
        <p>Type: Static Node</p>
        {{#with this.location}}
            <p>{{coordinates}}</p>
        {{/with}}
    {{else}}
        <p>Type: Dynamic Node</p>
    {{/if}}
    <a href="./node/{{this.uuid}}">Edit</a>
    <a href="./node/{{this.uuid}}/delete">Delete</a>
    <a href="./data_point/{{this.uuid}}">Data Points</a>
    <a href="./node/{{this.uuid}}/token">Generate Token</a>
{{/each}}